.container input {
    display: none;
}

/* Make the toggle smaller so it fits into the nav bar */
.mode-toggle {
    width: 50px;
    height: 25px;
    border-radius: 25px;
    background-color: var(--toggle-bg);
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.mode-toggle:before {
    position: absolute;
    content: '';
    background-color: var(--toggle-knob-bg);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 2.5px;
    left: 2.5px;
    transition: 0.2s;
}

input:checked + .mode-toggle {
    background-color: var(--toggle-bg);
}

input:checked + .mode-toggle::before {
    transform: translateX(25px);
}

body.dark-mode .footer2 {
    background-color: #6D2323;
}


form fieldset,

form select,
form button {
    border: 2px solid #6d2323; 
}

body.dark-mode form fieldset,

body.dark-mode form select,
body.dark-mode form button {
    border: 2px solid #E5D0AC;
}




