html {
    scroll-padding-top: 160px; 
    font-size: 62.5%;
    scroll-behavior: smooth;
    line-height: 140%;
} /*this is an interesting one, adds more padding when u scroll down, this is here because the nav bars take up alot of space and when u scroll down with the section links, it covers part of the section*/

body { /* default styles of the body*/
    color: var(--body-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--body-bg);
    margin: 0;
    padding-top: 155px; 
    line-height: 1.6;
    font-size: 1.6rem;
    transition: background-color 0.5s ease, color 0.5s ease;
    line-height: 140%;
    word-spacing: 2px;
}


main { /*basic styles for the main*/
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
}

h2 { /*basic styles for all h2*/
    font-size: 36px;
    color: var(--h2-color);
    margin: 0 0 20px;
    text-align: left; 
    font-weight: bold; 
}

a { /*basic styles for the <a> inside the nav bar*/
    display: inline-block;
    color: var(--nav-color);
    text-decoration: none; /*removes all text decorations*/
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.2s ease, text-shadow 0.2s;
}

a:hover { /*adds hover affect*/
    
    text-shadow: 0 0 8px #E5D0AC, 0 0 12px #E5D0AC;
    transform: scale(1.1);
}   

img {
    box-shadow: var(--shadow);
}

figure {
    box-shadow: var(--shadow);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}