header { /*styles for the header,*/
    position: fixed; /* makes the header pinned to the top of the website*/
    top: 0; /* leaves 0 space at the top of the website so the header is at the very top*/
    width: 100%; /*takes full width of the website*/
    z-index: 100; /*high z index so it appears above everything else*/
}

.nav-bar { /*this is the css for the nav bar*/
    display: flex; /*sets the display setting to flex (flexbox)*/
    align-items: center; /*aligns the items to the center  (duhh)*/
    background-color: var(--nav-bg);
    padding: 10px 20px;
    color: var(--nav-color);
    height: 60px; 
}

.treaty-icon {/* basic styles for the treaty icon*/
    height: 45px;
    margin-right: 10px;
}

.Main-Heading-Nav { /* basic styles for the heading in the nav/ header*/
    font-size: 24px;
    margin: 0;
    margin-right: auto; 
    font-weight: bold;
}

.nav-bar ul { /*css for the unordered list, the section links in the nav*/
    list-style: none; /*removes previous list styles*/
    margin: 0;
    padding: 0;
    display: flex; /*again, sets diplay setting to flexbox*/
    gap: 40px; /*sets the gap between the items inside the list*/
    justify-content: center; /* centers the content horizontally*/ 
    flex: 1; 
}




.section-link {
    transition: transform 0.2s ease;
}

.section-link:hover {
    transform: scale(1.1);
}

.decoration-bar { /*css for the decoration bar, this is similar to the nav bar,*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--decoration-bar-bg);
    padding: 0px;
    color: var(--decoration-bar-color);
    position: fixed;
    top: 78px; /*this has a top of 78 because this sets a space of 78 px above so it doesnt overlap the header*/
    width: 100%;
    z-index: 99;
    height: 55px; 
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.decoration-bar ul {
    list-style: none; /*removes previous list styles*/
    margin: 0;
    padding: 0;
    display: flex; /*again, sets diplay setting to flexbox*/
    gap: 40px; /*sets the gap between the items inside the list*/
    justify-content: center; /* centers the content horizontally*/ 
    flex: 1; 
}